Source: nginx
Section: httpd
Priority: optional
Maintainer: Jose Parrella <bureado@debian.org>
Uploaders: Fabio Tranchitella <kobold@debian.org>,
           Kartik Mistry <kartik@debian.org>,
           Cyril Lavier <cyril.lavier@davromaniak.eu>
Build-Depends: autotools-dev,
               debhelper (>= 7),
               libgeoip-dev,
               libpcre3-dev,
               libssl-dev,
               zlib1g-dev
Standards-Version: 3.9.1
Homepage: http://nginx.net
Vcs-Svn: svn://svn.debian.org/svn/collab-maint/deb-maint/nginx/trunk
Vcs-Browser: http://svn.debian.org/wsvn/collab-maint/deb-maint/nginx/trunk

Package: nginx
Architecture: any
Depends: lsb-base (>= 3.2-14),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: httpd
Description: small, but very powerful and efficient web server and mail proxy
 Nginx (engine x) is a web server created by Igor Sysoev and kindly provided to
 the open-source community. This server can be used as standalone HTTP server
 and as a reverse proxy server before some Apache or another big server to
 reduce load to backend servers by many concurrent HTTP-sessions.
 .
 It can also act as a POP3/IMAP mail proxy with SSL and TLS SNI support.

Package: nginx-dbg
Architecture: any
Section: debug
Priority: extra
Depends: nginx (= ${binary:Version}),
         ${misc:Depends}
Description: Debugging symbols for nginx
 Nginx (engine x) is a web server created by Igor Sysoev and kindly provided to
 the open-source community. This server can be used as standalone HTTP server
 and as a reverse proxy server before some Apache or another big server to
 reduce load to backend servers by many concurrent HTTP-sessions.
 .
 This package provides debugging symbols for nginx, to assist in debugging
 issues that you may find.  It should not be required for normal operation.
